
//@theme "/usr/share/rofi/themes/solarized.rasi"

//@theme "/home/usurper/.config/rofi/themes/rounded-blue-dark.rasi"

//@theme "/home/usurper/.config/rofi/themes/launchpad.rasi"

@theme "/home/usurper/.config/rofi/themes/rounded-blue-dark.rasi"
