$black: #000000;
$black-transparent: rgba(00,00,00,0.7);
$catpuccin-red: #eb6f92;
$cherry-red: #990033;
$cherry-red-transparent: rgba(153, 0, 51, 0.9);
$cyan: #63ceff;
$dark-blue: #4260ac;
$dark-blue-gray: #0c0e1a;
$dark-gray: #4e4e4e;
$dark-salmon: #e24e63;
$fuchsia: #c056b0;
$light-gray: #e3e6ed;
$light-green: #8ccb88;
$light-pink: #f6b4e7;
$light-text: #c4bccA;
$main-container-blue: rgba(35, 33, 54, 0.9);
$main-container-dark-blue: rgba(7, 9, 15, 0.77);
$off-white: #f9fcff;
$pastel-red: #ff6961;
$pastel-yellow: #daa520;
$workspace-background-blue: rgba(7, 9, 15, 0.8);
